[Desktop Entry]
Name=Mesh Market
Comment=Serverless peer-to-peer file synchronizer
Exec=mesh_market
Icon=tech.hammerhead.mesh_market
Terminal=false
Type=Application
Categories=Utility;Network;FileTransfer;
StartupWMClass=tech.hammerhead.mesh_market
